
html {
    font-size: 16px; /* Sets the base font size to 16px */
}

@import "../styles/_breakpoints.scss";

@font-face {
    font-family: 'contra-slab-bold';
    src: url('/assets/contra-slab-2/ContraSlab-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'contra-slab';
    src: url('/assets/contra-slab-2/ContraSlab.ttf') format('truetype');
}

.custom-container {
    padding-top: 5rem;
}

.center-container {
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
}

@media only screen and (max-width: $grid-breakpoints-sm) {
    .center-container {
        width: 90%;
    }
}
